<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<table>
<tr>
<th>Disease</th>
<th>Comments</th>
<th>Latitude</th>
<th>Longitude</th>
<th>User</th>
</tr>
<% @posts.each do |post| %>
<tr>
	<td><%= link_to post.title, post %></td>
	<td><%= post.body %></td>
	<td><%= post.latitude %></td>
	<td><%= post.longitude %></td>
	<td><%= link_to post.user.email, post.user %></td>
	<td><%= link_to "edit", edit_post_path(post) %> </td>
	<td><%= link_to "destroy", post, method: :delete, data: { confirm: 'Are you sure?' } %> </td>

</tr>
<% end %>
</table>
<h2> Posts in Philadelphia </h2>

<table>
<tr>
<th>Disease</th>
<th>Comments</th>
<th>Latitude</th>
<th>Longitude</th>
<th>User</th>
</tr>
<% @posts2.each do |post| %>
<tr>
	<td><%= link_to post.title, post %></td>
	<td><%= post.body %></td>
	<td><%= post.latitude %></td>
	<td><%= post.longitude %></td>
	<td><%= link_to post.user.email, post.user %></td>
	<td><%= link_to "edit", edit_post_path(post) %> </td>
	<td><%= link_to "destroy", post, method: :delete, data: { confirm: 'Are you sure?' } %> </td>

</tr>
<% end %>
</table>
<h2> Posts in New York City </h2>

<table>
<tr>
<th>Disease</th>
<th>Comments</th>
<th>Latitude</th>
<th>Longitude</th>
<th>User</th>
</tr>
<% @posts3.each do |post| %>
<tr>
	<td><%= link_to post.title, post %></td>
	<td><%= post.body %></td>
	<td><%= post.latitude %></td>
	<td><%= post.longitude %></td>
	<td><%= link_to post.user.email, post.user %></td>
	<td><%= link_to "edit", edit_post_path(post) %> </td>
	<td><%= link_to "destroy", post, method: :delete, data: { confirm: 'Are you sure?' } %> </td>

</tr>
<% end %>
</table>

<br>
<%= link_to 'New Post', new_post_path %>